#itemBox{
    border-radius: 5px;
    background-color: white;
    width: 30%;
    margin: 1%;
    display: inline-block;
    padding: 0.5%;
}

.eachRow{
    border-radius: 5px;
    background-color: #e7e5e5;
}