img {
    position: relative;
    /* float: left; */
    width:  60px;
    height: 60px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

navigator {
    float : left;
}

span.navItems{
    font-size: 18px;
}

span.brandText{
    font-size: 20px;
}