
.flex-container {
  padding: 0;
  margin: 0;
  margin-top:20px;
  list-style: none;
  /* background: blue; */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  /* -webkit-flex-flow: row wrap; */
  justify-content: space-around;
}

.flex-item {
  /* background: rgb(234, 71, 255); */
  background: skyblue;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
/* .flex-item:active{ */
  /* background:black */
/* } */
.grow { transition: all .2s ease-in-out; } */
.grow:hover { transform: scale(1.1)}
/* li:hover{
    background:yellow;
    height: 200px;
    line-height: 200px;
} */



.table
{
  display:table;
  border-collapse:separate;
  border-spacing:2px;
  width:50%;
  margin-left: 25%;
  margin-top: 5%;
}
.thead
{
  display:table-header-group;
  color:white;
  font-weight:bold;
  background-color:grey;
}
.tbody
{
  display:table-row-group;
}
.tr
{
  display:table-row;
}
.td
{
  display:table-cell;
  border:1px solid black;
  padding:1px;
}
.tr.editing .td INPUT
{
  width:100px;
}

.label_class{
  
  padding-bottom: 0px;
  padding-top: 0px;
  color: black;
}

.form-control{
  /* text-align :center */
}

  

